spring:
  application:
    name: profiles-api
  main:
    allow-bean-definition-overriding: true

server:
  port: 9090

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    org.gso: DEBUG