services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"

  profiles-api:
    build: ./profiles-api
    ports:
      - "9090:9090"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo